<div id="main-app">
  <a href={{ app_repo_URL }}>
    <div class="app-text">
      <h4>{{ app_name }}</h4>
      <p>
        {{ app_subtitle }}
      </p>
    </div>
    <img src={{ app_img_URL }} alt="Weather Dashboard">
  </a>
</div>
