<header>
        <section class="title-nav">
            <div id="name-logo">
                <h1>Florian Meneses</h1>
            </div>
            <nav class="header-nav">
                <ul>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#resume">Resume</a></li>
                    <li><a href="#contact-me">Contact Me</a></li>
                </ul>
            </nav>
        </section>
        <section id="hero-banner">
            <img id="avatar" src="/img/gura.png" alt="Gura Avatar">
            <img id="hero-bg" src="/img/abstract14095.jpg" alt="Main Image">
            <div id="hero-text">
                <h2>Welcome!</h2>
            </div>
        </section>
    </header>
    <main>
        <section id="about-me">
            <div class="col-1">
                <h3>About Me</h3>
            </div>
            <div class="col-2">
                <p>
                    Passionate gaming industry veteran, working with tool and automation frameworks. Burgeoning Full Stack Developer.
                </p>
                <div class="tech-stack">
                    <h4>Languages:</h4>
                    <ol class="languages">
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>Python</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="portfolio">
            <div class="col-1">
                <h3>Portfolio</h3>
            </div>
            <div class="col-2">
                <div id="apps">
                    <div id="main-app">
                        <a href="https://github.com/Myuze/weather-fm">
                            <div class="app-text">
                                <h4>Weather Dashboard</h4>
                                <p>
                                    Javascript/Bootstrap CSS
                                </p>
                            </div>
                            <img src="/img/5115.jpg" alt="Weather Dashboard">
                        </a>
                    </div>
                    <div id="app-card-container">
                        <div id="app-1" class="app-card">
                            <a href="https://github.com/Myuze/calendar-fm">
                                <div class="app-text">
                                    <h5>Task Scheduler</h5>
                                    <p>
                                        Javascript/CSS
                                    </p>
                                </div>
                                <img src="/img/48093.jpg" alt="Task Scheduler">
                            </a>
                        </div>
                        <div id="app-2" class="app-card">
                            <a href="https://github.com/Myuze/js-quiz">
                                <div class="app-text">
                                    <h5>JS Quiz</h5>
                                    <p>
                                        Javascript/CSS
                                    </p>
                                </div>
                                <img src="/img/abstract2993088.jpg" alt="JS Quiz">
                            </a>
                        </div>
                        <div id="app-3" class="app-card">
                            <a href="https://github.com/Myuze/recipe-champion">
                                <div class="app-text">
                                    <h5>Recipe Champion</h5>
                                    <p>
                                        Javascript/Foundation CSS
                                    </p>
                                </div>
                                <img src="/img/abstract151516618.jpg" alt="Recipe Champion">
                            </a>
                        </div>
                        <div id="app-4" class="app-card">
                            <a href="https://github.com/Myuze/genpass-fm">
                                <div class="app-text">
                                    <h5>Password Generator</h5>
                                    <p>
                                        Javascript
                                    </p>
                                </div>
                                <img src="/img/abstract98362664.jpg" alt="Password Generator">
                            </a>
                        </div>          
                    </div>
                </div>
            </div>
        </section>
        <section id="resume">
            <div class="col-1">
                <h3>Resume</h3>
            </div>
            <div class="col-2">
                <div id="resume-dl">
                    <a href="/content/MenesesFlorian_Resume.pdf" download="FlorianMeneses_Resume">Download Resume</a>
                </div>
            </div>
        </section>
        <section id="contact-me">
            <div class="col-1">
                <h3>Contact Me</h3>
            </div>
            <div class="col-2">
                <div id="contact-info-container">
                    <div class="contact-item" id="linked-in">
                        <a href="https://www.linkedin.com/in/florian-meneses-02807b5/">
                            Linked-In
                        </a>
                    </div>
                    <div class="contact-item" id="email">
                        <a href="mailto:flmeneses.dev@gmail.com">
                            flmeneses.dev@gmail.com
                        </a>
                    </div>
                    <div class="contact-item" id="github">
                        <a href="https://github.com/Myuze">
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
