/* Initial Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

body {
    background: black;
}

h1 {
    font-size: 2rem;
    align-self: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Mobile Formatting from 320 -> 490 screens */

header {
    padding: 1rem 0;
    text-align: center;
}

.title-nav {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    padding: 1rem 0;
}

.header-nav li {
    padding: 0.5rem;
}

.hero-banner {
    max-width: 100%;
    height: 22vh;
    background-image: url("../img/apink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

section {
    padding: 0 1rem 1rem;
}

#portifolio {
    flex-flow: row-reverse wrap;
}

.app-card-container {
    flex-flow: row wrap;
}

#apps {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid;
}

#apps img {
    max-width: 100%;
}

.app-card {
    width: 50%;
    border: 2px solid red;
}

.app-card h4 {
    position: absolute;
    margin-top: 5rem;
    width: 25%;
}

.app-card h4 span { 
    color: aqua; 
    font: bold 15px/30px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 }

@media screen and (min-width: 490px) {
    .header-nav * {
        display: inline;
    }
}