/* Initial Global Styles */
:root {
    /* Text Color Themes */
    --light: aqua;
    --dark: black;

    /* Background Colors */
    --app-bg-color-fb: rgb(0, 0, 0);
    --app-bg-color: rgba(0, 238, 255, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: var(--light);
    background: var(--app-bg-color-fb);
}

h1 {
    font-size: 2rem;
    align-self: center;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--light);
}

li {
    list-style: none;
}

/* Mobile Formatting from 320 -> 490 screens */

header {
    padding: 1rem 0;
    text-align: center;
}

.title-nav {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    padding: 1rem 0;
}

.header-nav li {
    padding: 0.5rem;
}

.hero-banner {
    position: relative;
    max-width: 100%;
    height: 22vh;
    background-image: url("../img/Abstract14095.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-banner .hero-text {

}

main {
    display: flex;
    flex-flow: column nowrap;
}

section {
    padding: 0 1rem 1rem;
}

#portifolio {
    flex-flow: row-reverse wrap;
}

.app-card-container {
    flex-flow: row wrap;
}

#apps {
    display: flex;
    flex-flow: row wrap;
    color: var(--black);
}

#main-app {
    position: relative;
    flex: 1 1 100%;
    /* border: 2px solid cornflowerblue; */
}

#apps h3 {
    position: absolute;
    margin-top: 7rem;
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
    background: var(--app-bg-color);
    color: var(--dark);
}

#apps img {
    width: 100%;
    height: 100%;
}

#app-card-container {
    display: flex;
    flex-flow: row wrap;
    color: var(--black);
}

.app-card {
    position: relative;
    flex: 1 1 50%;
    /* border: 2px solid red; */
}

.app-card h4 {
    position: absolute;
    margin-top: 15px;
    font-size: 4rem;
    color: var(--dark);
}

.app-card h4 span {  
    font: bold 15px/30px Helvetica, Sans-Serif; 
    padding: 10px; 
    letter-spacing: -1px;  
    background: var(--app-bg-color-fb); /* fallback color */
    background: var(--app-bg-color);
 }

@media screen and (min-width: 425px) {
    .title-nav {
        display: flex;
    }

    .header-nav li {
        display: inline;
    }
}

/* Tablet Formatting 768px */

@media screen and (min-width: 768px) {
    .title-nav {
        flex-flow: row wrap;
    }
}